@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark: #435058;
  --yellow: #f6bd60;
  --white: #eaf4f4;
  --red: #ef6461;
  --pink: #fa8072;
  --green: #1ea896;
  --blue: #094d92;
}
body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
}
main {
  width: 100%;
  height: 100vh;
  background-color: #1f1b24;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main.Light {
  background-color: #fff;
}
.container {
  width: 85%;
  height: 90vh;
  background-color: #26212c;
  border-radius: 15px;
  border: 1px solid #3f3749;
  color: #cbc5d3;
  padding: 2%;
  overflow-y: auto;
}
.container.Light {
  background-color: rgb(244, 243, 243);
  -webkit-box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
}
aside {
  width: 30%;
  height: 82vh;
  background-color: #29242f;
  border: 2px solid #3f3749;
  float: left;
  padding: 2% 3% 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .aside-conteiner {
  width: 100%;
  height: 90%;
  text-align: center;
}
aside select {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #cbc5d3;
  background-image: url("img/arrow.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  color: #645874;
  font-weight: bold;
}
aside .aside-conteiner .city-title {
  margin-top: 5px;
  color: var(--yellow);
  font-size: 2rem;
}
.aside-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.aside-info .info-item {
  font-size: 1rem;
}
.aside-info .info-item.info-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}
aside .aside-conteiner .currentTemp {
  color: var(--yellow);
  font-size: 2rem;
}
.aside-info .info-item.info-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.aside-info .info-item.info-footer .info-item.items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid #3f3749;
}
.aside-info .info-item.info-footer .info-item.humidity {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.info-item .sub-items {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
aside .aside-footer {
  width: 100%;
  height: 10%;
  border-top: 2px solid #3f3749;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .aside-footer ion-icon {
  cursor: pointer;
}
aside .aside-footer .unity {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}
aside .aside-footer a {
  color: #cbc5d3;
}
section {
  width: 68%;
  height: 100%;
  float: right;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 20px;
  align-items: center;
  padding: 25px;
  text-align: center;
}
section .grid-items {
  height: 250px;
  background-color: #29242f;
  border: 2px solid #3f3749;
}
footer {
  text-align: center;
  color: #cbc5d3;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
ion-icon {
  font-size: 30px;
}
@media (max-width: 1300px) {
  aside .aside-conteiner .city-title {
    font-size: 20px;
  }
  .aside-info .info-item {
    font-size: 15px;
  }
  .aside-info .info-item.info-date {
    font-size: 16px;
  }
  aside .aside-conteiner .currentTemp {
    font-size: 25px;
  }
  ion-icon {
    font-size: 28px;
  }
}
@media (max-width: 950px) {
  aside .aside-conteiner .city-title {
    font-size: 20px;
  }
  .aside-info .info-item {
    font-size: 13px;
  }
  .aside-info .info-item.info-date {
    font-size: 15px;
  }
  aside .aside-conteiner .currentTemp {
    font-size: 25px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
  }
  ion-icon {
    font-size: 28px;
  }
  section {
    grid-template-columns: 48% 48%;
  }
}
@media (max-width: 750px) {
  aside {
    float: none;
    width: 100%;
  }
  section {
    width: 100%;
  }
}
@media (max-width: 500px) {
  section {
    width: 100%;
    grid-template-columns: 98%;
  }
}
